<link href="https://use.fontawesome.com/releases/v5.14.0/css/all.css" rel="stylesheet">
<link rel="stylesheet" href="css/StylesCustom.css" />


<footer style="background-color: #AEEA00; height: 250px; padding: 20px; display: flex; flex-direction: column; align-items: center; justify-content: space-between;">
    <div style="display:flex; justify-content: space-between; align-items:center;width:100%;">
        <link rel="stylesheet" href="css/StylesCustom.css" />


        <div class="dmreze" style="position: relative; top: 80px; left: 20px; font-size: 2em;">
            <a href="https://facebook.com"><i class="fab fa-facebook"></i></a>
            <a href="https://x.com"><i class="fab fa-twitter"></i></a>
            <a href="https://youtube.com"><i class="fab fa-youtube"></i></a>
            <a href="https://linkedin.com"><i class="fab fa-linkedin"></i></a>
        </div>


        <div class="mapa">
            <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d11322.888981476759!2d20.4773295!3d44.8068489!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x475a7a98a92205a5%3A0x14979c1ab4d55851!2z0JzQsNGI0LjQvdGB0LrQuCDRhNCw0LrRg9C70YLQtdGCINCj0L3QuNCy0LXRgNC30LjRgtC10YLQsCDRgyDQkdC10L7Qs9GA0LDQtNGD!5e0!3m2!1ssr!2srs!4v1720003409176!5m2!1ssr!2srs" 
            width="100" height="150" style="position: relative; top: 20px; left: 380px;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>

        <div class="lokinfo">
            <p><MudIcon Icon="@Icons.Material.Filled.LocationOn" Title="LocationOn" />&nbsp;&nbsp;Kraljice Marije 16, Belgrade, Serbia</p>
            <br />
            <p><MudIcon Icon="@Icons.Material.Filled.Phone" Title="Telephone" />&nbsp;&nbsp;Phone: +3810123456789 </p>
        </div>

    </div>
    <div style="font-size: 12px;color:#000000;text-align:center;">
        Copyright © 2024 FourZero4 Inc. All rights reserved
    </div>
</footer>



@code {

}
